web.app/Mvc.Angular/Service References/QUEUEApi/Queue.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Queue" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1131/Queue.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1131/Queue.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1131/Queue.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQueue_AddMessageGet_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageGet" />
  </wsdl:message>
  <wsdl:message name="IQueue_AddMessageGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageGetResponse" />
  </wsdl:message>
  <wsdl:message name="IQueue_AddMessagePost_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessagePost" />
  </wsdl:message>
  <wsdl:message name="IQueue_AddMessagePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessagePostResponse" />
  </wsdl:message>
  <wsdl:message name="IQueue_RunPluginGet_InputMessage">
    <wsdl:part name="parameters" element="tns:RunPluginGet" />
  </wsdl:message>
  <wsdl:message name="IQueue_RunPluginGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunPluginGetResponse" />
  </wsdl:message>
  <wsdl:message name="IQueue_RunPluginPost_InputMessage">
    <wsdl:part name="parameters" element="tns:RunPluginPost" />
  </wsdl:message>
  <wsdl:message name="IQueue_RunPluginPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunPluginPostResponse" />
  </wsdl:message>
  <wsdl:message name="IQueue_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IQueue_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IQueue_AuthenticateUserByEncryptedObject_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserByEncryptedObject" />
  </wsdl:message>
  <wsdl:message name="IQueue_AuthenticateUserByEncryptedObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserByEncryptedObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IQueue_AuthenticateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateToken" />
  </wsdl:message>
  <wsdl:message name="IQueue_AuthenticateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IQueue_CheckToken_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckToken" />
  </wsdl:message>
  <wsdl:message name="IQueue_CheckToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IQueue_StreamMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:StreamMessage" />
  </wsdl:message>
  <wsdl:message name="IQueue_StreamMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:StreamMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IQueue">
    <wsdl:operation name="AddMessageGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueue/AddMessageGet" message="tns:IQueue_AddMessageGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueue/AddMessageGetResponse" message="tns:IQueue_AddMessageGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessagePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueue/AddMessagePost" message="tns:IQueue_AddMessagePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueue/AddMessagePostResponse" message="tns:IQueue_AddMessagePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunPluginGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueue/RunPluginGet" message="tns:IQueue_RunPluginGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueue/RunPluginGetResponse" message="tns:IQueue_RunPluginGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunPluginPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueue/RunPluginPost" message="tns:IQueue_RunPluginPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueue/RunPluginPostResponse" message="tns:IQueue_RunPluginPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueue/AuthenticateUser" message="tns:IQueue_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueue/AuthenticateUserResponse" message="tns:IQueue_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUserByEncryptedObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueue/AuthenticateUserByEncryptedObject" message="tns:IQueue_AuthenticateUserByEncryptedObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueue/AuthenticateUserByEncryptedObjectResponse" message="tns:IQueue_AuthenticateUserByEncryptedObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueue/AuthenticateToken" message="tns:IQueue_AuthenticateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueue/AuthenticateTokenResponse" message="tns:IQueue_AuthenticateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueue/CheckToken" message="tns:IQueue_CheckToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueue/CheckTokenResponse" message="tns:IQueue_CheckToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StreamMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueue/StreamMessage" message="tns:IQueue_StreamMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueue/StreamMessageResponse" message="tns:IQueue_StreamMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQueue" type="tns:IQueue">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMessageGet">
      <soap:operation soapAction="http://tempuri.org/IQueue/AddMessageGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessagePost">
      <soap:operation soapAction="http://tempuri.org/IQueue/AddMessagePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunPluginGet">
      <soap:operation soapAction="http://tempuri.org/IQueue/RunPluginGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunPluginPost">
      <soap:operation soapAction="http://tempuri.org/IQueue/RunPluginPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IQueue/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUserByEncryptedObject">
      <soap:operation soapAction="http://tempuri.org/IQueue/AuthenticateUserByEncryptedObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateToken">
      <soap:operation soapAction="http://tempuri.org/IQueue/AuthenticateToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckToken">
      <soap:operation soapAction="http://tempuri.org/IQueue/CheckToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StreamMessage">
      <soap:operation soapAction="http://tempuri.org/IQueue/StreamMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Queue">
    <wsdl:port name="BasicHttpBinding_IQueue" binding="tns:BasicHttpBinding_IQueue">
      <soap:address location="http://localhost:1131/Queue.svc/SOAP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>